{% extends 'base.html' %}

{% block content %}
<h2>
{% block title %} 
    {{ cities_info[0].name }} vs {{ cities_info[1].name }} 
{% endblock %}
</h2>

<table>
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Coordinates</th>
            <th>Population</th>
            <th>Country</th>
            <th>Administration</th>
        </tr>
    </thead>
    <tbody>
        {% for city_info in cities_info %}
        <tr>
            <th>{{ city_info.name }} </td>
            <td>{{ city_info.coord }}</td>
            <td>{{ city_info.population_display }}</td>
            <td>{{ city_info.country }}</td>
            <td>{{ city_info.admin }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>
    Distance between {{ cities_info[0].name }} and {{ cities_info[1].name }}:
    <strong>{{ dist_display }}</strong>
</p>
{% endblock %}